.flex-container-second-format__theme-image-man-laptop{
    background-image: url(../../../../../images/man-with-laptop.jpg);
    background-size: cover;
    width: 25%;
    height: 700px;
    margin-top: 0px;
}