.flex-container-second-format__text-email{
    background-color: #e9714c;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
}