.flex-container-second-format__block__theme_image_education {
    background-image: url(../../../../../images/education-img.jpg);
    background-size: cover;
    display: block;
    width: 50%;
    height: 295px;
}