header {
    height: 300px;
}



ul {
    list-style-type: none;
    border: 1px solid black;
    width: 45.5%;
    margin-right: auto;
}

.logo {
    background-image: url(../images/logo.png);
    background-size: cover;
    height: 200px;
    width: 50%;
    border: 1px solid black;
    margin-left: auto;
}